*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: system-ui;
}

:root{
  --bg: rgb(30, 6, 53);
  --colortext:white;
  --coloricon:white;
  --colorbutton:black;
  --colorEn: white;
  --colortext2: rgb(98, 73, 243);
}
.light-mode:root{
  --bg: #e2e0f8;
  --colortext: rgb(30, 6, 53);
  --coloricon:#9898fa;
  --colorbutton: rgb(30, 6, 53);
  --colorEn: rgb(98, 73, 243);
  --colortext2: black;
}
body{
    width: 100%;
    min-height: 100vh;
    
    background-color: var(--bg)
}
section{
    width: 100%;
    position: relative
}
.navbar{
    width: 100%;
    position: relative;
    display: flex;
    text-align: end;
    padding: 1.2vw 6vw;
    z-index: 1000;
    background-color: var(--bg);}
label {
 
      display: inline-flex;
      cursor: pointer;
  }

  /* Estilização do switch (input[type=checkbox]) */
  #switch {
      position: relative;
      width: 42px;
      height: 23px;
      margin-right: 15px;
      margin-top: 5px;
      appearance: none;
      background-color: #ccc;
      border-radius: 10px;
      outline: none;
      transition: background-color 0.3s;
  }

  /* Estilização da parte interna do switch */
  #switch::before {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color:  var(--bg);
      top: 2px;
      left: 2px;
      transition: transform 0.3s;
  }

  /* Estilização do switch quando estiver marcado (modo claro ativado) */
  #switch:checked {
      background-color: #e23ce7; /* Cor de fundo quando o switch está marcado (modo claro ativado) */
  }

  /* Estilização do círculo interno do switch quando estiver marcado (modo claro ativado) */
  #switch:checked::before {
      transform: translateX(20px); 
      background-color: #f8f2f2;/* Move o círculo interno para a direita */
  }

  /* Estilização do texto "light mode" ao lado do switch */
  #switch + span {
      font-size: 14px;
      color: #333;
  }

#logo{
    font-size: 3vw;
    color: var(--colortext);
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.menuitems{
    display: flex;
    margin: auto 0;
    margin-left: 90%;
}
.menuitems li{
  
    list-style: none;
    margin: 0 3vw;
}
.menuitems li .nav-a {
    display: block;
    color: var(--colortext);
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5vw;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.menuitems li:hover .nav-a {
  background-image: linear-gradient(90deg, #4985fc 30%, #e9a5e8 40%, rgb(240, 93, 220) 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.button{
  color: var(--colortext2);
  width: 30px;
  border-radius: 10px;
  height: 25px;
  border: none;
  font-weight: 700;
  padding: 0;
  margin-top: 4px;
  background-color: var(--colorEn);
}

.gh{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
        margin-bottom:6vw;
}
.text_container {
  margin-top: 6vw;
  margin-right: 2vw;
  width: 60%;
  padding-left: 5rem;
  padding-top: 3rem;
}


.text_container h2{
    font-size: 10vw;
    font-weight: 900;
    line-height: 10vw;
    text-transform: capitalize;
    color: transparent;
    background-image: linear-gradient(90deg, #5f94ff 20%, #ff48fb 40%, rgb(221, 18, 194) 60%);
    -webkit-background-clip: text;
    background-clip: text;
}
h3{
  font-size: 6vw;
  font-weight: 900;
  color: var(--colortext)
}

#barra{
  text-align: end;
  width: 90%;
}
p,h5{
  color: var(--colortext)
}
h5{
    font-size: 28px;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 400;
   
}

p{
  font-size: 24px;
  margin-top: 20px;
  

}


.container2{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-left: 5rem;
 margin-top: 6vw;

}

    .cards{
      width:100%;
      display:grid;
      grid-template-columns: repeat(8, auto);
      grid-template-rows:100px 100px;
      justify-content: stretch;
      position: absolute;
      margin-top: 4vw;
      margin-right: 3vw;
      padding-left: 17rem;
      padding-top: 10vw;
    
      
    }
    
    
      
      .icon {
        padding: 8px;
        width: 80%;
        height: 120px;
        max-width: 120px;
        background: linear-gradient(100deg, #5f94ff 0%, #ff48fb ,  #ffae00 90% , #fff);
        border-radius: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.8s ease;
        background-position: 0px;
        background-size: 200px;
        margin-bottom: 200px;
        margin-right: 15px;
      }
    
    
      
      .icon:hover{
        background-position:150px;
        transition: all 0.3s ease;
      }
      
      .icon:hover svg path {
       
        transition: all 0.3s ease;
      }

.btn {
  margin-top: 5vw;
  margin-right: 10px;
  cursor: pointer;
  width: 240px;
  height: 50px;
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .150em;
    --curve-size: .5em;
    --blur: 30px;
    background: var(--border-color);
    --color: #afffff;
    color: var(--color);
      /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
              /* Top-left */
              0% var(--curve-size),
  
              var(--curve-size) 0,
              /* top-right */
              100% 0,
              100% calc(100% - var(--curve-size)),
  
              /* bottom-right 1 */
              calc(100% - var(--curve-size)) 100%,
              /* bottom-right 2 */
              0 100%);
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%
    }
  
    50% {
      background-position: 70% 100%
    }
  
    100% {
      background-position: 31% 0%
    }
  }
  
  .btn::after {
    background: var(--colorbutton);
    z-index: -1;
    clip-path: polygon(
              /* Top-left */
              var(--border-width) 
              calc(var(--curve-size) + var(--border-width) * .5),
  
              calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
  
              /* top-right */
              calc(100% - var(--border-width)) 
              var(--border-width),
  
              calc(100% - var(--border-width)) 
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
              /* bottom-right 1 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
              /* bottom-right 2 */
              var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
                  /* Top-left */
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      
                  calc(100% - var(--border-width))
  
                  var(--border-width),
      
                  /* top-right */
                  calc(100% - var(--border-width))
  
                   var(--border-width),
      
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
      
                  /* bottom-right 1 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                  calc(100% - var(--border-width)),
  
                  /* bottom-right 2 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                  calc(100% - var(--border-width)));
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }

  
  .card {
    position: relative;
    width: 300px;
    height: 364px;
    background-image: url("img/eu.jpg");
    background-position-x: -2rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 5rem;
    border-radius: 8px;
    cursor: pointer;
  }
  
 .card {
    position: relative;
    width: 300px;
    height: 364px;
    background-image: url("img/eu.jpg");
    background-position-x: -2rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 5rem;
    border-radius: 8px;
    cursor: pointer;
  }

  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 310px;
    height: 374px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card::after {
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.85);
    filter: blur(20px);
  }


  .card:hover::after {
    filter: blur(30px);
  }

  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.2) scaleY(0.83);
  }
  @media(max-width:1280px){
    .cards{  
      display:grid;
      grid-template-columns: repeat(6, auto);
      grid-template-rows:100px 100px;
      justify-content: stretch;
      position: absolute;
      margin-top: 6vw;
      margin-right: 2vw;
      padding-top: 3rem;
        
    }
    .btn {
     
      width: 180px;
      height: 50px;
    }

    .icon{
      height: 78px;
      width: 78px;
    
    }
    #hab{
      position: relative;
      margin-top: 6vw;
      margin-bottom: 3vw ;
      width: 40%;
      padding-left: 11rem;
 
       
    }
   
  }
@media only screen and (max-width: 300px){

    .cards{
  width:100%;
  display:grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows:100px 100px;
  justify-content: flex-start;
  position: absolute;
  margin-top: 4vw;
  margin-right: 0;
  margin-left: 18px;
  padding-left: 0;
  padding-top: 0;
  
}
.icon {
  padding: 8px;
  width: 80%;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(100deg, #5f94ff 0%, #ff48fb ,  #ffae00 90% , #fff);
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
  margin-bottom: 200px;
  margin-right: 15px;
}

  .menuitems{
    display: flex;
    margin: auto 0;
    margin-left: 90%;
}
  .container{
   width: 105%;
   display: inline;
   flex-direction: column;}

   .card {
      
  display:none;}
 
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.2) scaleY(0.83);
  }
  p{
    font-size: 16px;
    margin-top: 20px;
  }
  h5{
    font-size: 4vw;
    
  }
  #logo{
    font-size: 5vw;}

    .menuitems li .nav-a {
      font-size: 3vw;
    }
    .btn {
      margin-bottom: 8px;
    }
  
    .cards{  width: 85%;
      
    }
   
   

    .text_container h2{
      font-size: 10vw;
      font-weight: 900;
      color: #e23ce7;
     
     }
     .text_container{
      width: 80%;
     }
}


@media only screen and (max-width: 768px){
.cards{
  width:100%;
  display:grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows:100px 100px;
  justify-content: flex-start;
  position: absolute;
  margin-top: 4vw;
  margin-right: 0;
  margin-left: 18px;
  padding-left: 0;
  padding-top: 0;
  
}
  .menuitems{
    display: flex;
    margin: auto 0;
    margin-left: 15%;
}
  .icon{
 
    margin-right: 5px;
    margin-left: 5px;
  }
  .card {
      
  display:none;}


.navbar{
  margin-top: 28px;
}
       p{
  font-size: 16px;
}
  }
